/* Reset some weirdness of the template. */
span.navbar-brand:hover {
    color: white !important;
}

a, a:focus{
    color: white;
}

a:hover {
    color: #ddd;
}

/* A div to make the whole viewport swipe-able. */
div#body-stretcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


div.page-header {
    margin-top: 20vh;
}

div.board-row {
    text-align: center;
}

div.board-cell {
    display: inline-block;
    /* To make empty inline-block divs display correctly: */
    vertical-align: bottom;
    width: 16vmin;
    height: 16vmin;
    margin: 0.3vmin;
    border: 3px solid #555;
    border-radius: 1vmin;
    text-align: center;
    line-height: 16vmin;  /* Vertical align for the contents (a single line). */
    font-size: 5.1vmin;
    font-weight: bold;
    background-color: #bbb;
    color: black;
}

div.board-cell-numeric {
    /* Ignore parent's border when positioning. */
    margin-top: -3px;
    margin-left: -3px;
    position: absolute;
    top: 0;
    left: 0;
}

div.board-cell-2 {
    background-color: rgb(255, 235, 59);
}

div.board-cell-4 {
    background-color: rgb(255, 193, 7);
}

div.board-cell-8 {
    background-color: rgb(255, 152, 0);
}

div.board-cell-16 {
    background-color: rgb(255, 100, 50);
}

div.board-cell-32 {
    background-color: rgb(244, 67, 54);
}

div.board-cell-64 {
    background-color: rgb(233, 30, 99);
}

div.board-cell-128 {
    background-color: rgb(240, 13, 225);
}

div.board-cell-256 {
    background-color: rgb(190, 240, 57);
}

div.board-cell-512 {
    background-color: rgb(76, 195, 100);
}

div.board-cell-1024 {
    background-color: rgb(20, 190, 136);
}

div.board-cell-2048 {
    background-color: rgb(33, 130, 243);
}

div.board-cell-4096 {
    background-color: rgb(156, 39, 176);
}

div.board-cell-8192 {
    background-color: rgb(63, 81, 181);
}

div.board-cell-16384 {
    background-color: rgb(103, 58, 183);
}

div.board-cell-32768 {
    background-color: rgb(96, 125, 139);
}

div.board-cell-65536 {
    background-color: black;
    color: white;
}

div.board-cell-131072 {
    background-color: red;
    font-size: 28px;
}
